# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/
.cache/
.temp/
.next/
out/

# Local env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*
log/
logs/

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
*.lcov

# TypeScript
*.tsbuildinfo

# Misc
*.tgz
*.pem
*.key
*.crt

# Backend uploads (если ты сохраняешь файлы локально)
uploads/
